* {
    box-sizing: border-box;
}

.form-horizontal {
    margin-top: 15px;
}

.form-group {
    margin-bottom: 5px;
}

canvas:hover {
    cursor: default !important;
}

.upper-canvas {
    display: none;
}

h3 > div {
    margin-top: -5px;
}

.page-header {
    margin-top: 15px;
}

#canvas {
    border: 1px dashed #ccc;
}

#left h3 {
    text-align: right;
}

button + button {
    margin-right: 5px;
}

.hoverImg {
    width: 100px;
}
