<div class="container">
    <div class="row">

        <!-- Choices -->
        <div class="col-sm-4" id="left">
            <h3 class="page-header">
                Rankings
                <div><small><small>Initial rankings are random</small></small></div>
            </h3>
            <form class="form-horizontal" ng-cloak>

                <div ng-repeat="(index,char) in characters" class="form-group">
                    <label class="col-sm-6 control-label">{{char.name}}</label>
                    <div class="col-sm-6">
                        <select class="form-control"
                            ng-model="rankings[char.name]"
                            ng-options="rank.value as rank.label for rank in availableRankings"
                            ng-change="update()"
                            uib-tooltip uib-tooltip-html="char.fileStr"
                            tooltip-append-to-body="true"
                            tooltip-placement="auto left">
                        </select>
                    </div>
                </div>

            </form>
        </div>

        <!-- Canvas -->
        <div class="col-sm-8" id="right">
            <h3 class="page-header">
                Preview
                <button class="btn btn-primary pull-right" ng-click="download()">
                    <span class="glyphicon glyphicon-download-alt"></span>
                    Download
                </button>
                <div><small><small>Rescaled to fit<small></small></div>
            </h3>
            <canvas id="canvas"></canvas>
        </div>

    </div>
</div>
